<h2>Create New Landmark</h2>
<form action="/landmarks" method="post">

  <h2>Create New Landmark: </h2>
  <label>Name: <input type="text" name="landmark[name]" id="landmark_name"></label>
  <label>Year: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></label>
  <input type="submit" value="Create New Landmark"/>
</form>


<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
